body {
  margin: 0;
}
body { 
 font-family: 'Roboto', sans-serif;
}
.container {
  padding: 8px;
  text-align: center;
}
html, body {
  height: 100%;
}
#mainwrap {
  min-height: 100%;
  /* Negative indent footer by it's height */
  margin-bottom: -100px;
}
#mainwrap:after {
  display: block;
  content: "";
}
footer,#mainwrap:after {
  height: 100px;
}
.contact-info {
  margin-left: 15px;
  margin-right: 15px;
}
.contact-info i:hover {
  text-shadow: 0px 0px 2px #000000;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: teal;
}
a:visited {
  color: maroon;
}
a:active {
  color: red;
}
section {
  font-size: 200%;
}
section ul {
  padding-left: 0;
}
#name {
  margin-top: 0;
  padding-top: 0.83em;
}
#name span {
  color: #C73511;
}
.workInProgress {
  list-style-type: none;
}
.workInProgress li {
  margin-top: 0.5em;
}
.completedWork {
  list-style-type: none;
}
.completedWork li {
  margin-top: 0.5em;
}

